:host {
  display: block;
  background-color: var(--background-color-secondary);
  border-radius: 15px;
  padding: 3.2rem 2.4rem 4.8rem;
  box-shadow: var(--shadow);

  .header {
    display: flex;
    align-items: center;
    gap: 1.95rem;
    margin-bottom: 3.3rem;

    &__image {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
    }

    &__name {
      margin: 0;
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--primary-color-font);
    }

    &__username {
      font-size: 1.3rem;
      font-weight: 400;
      cursor: pointer;
      color: var(--primary-color);
      text-decoration: none;
    }

    &__created-at {
      color: var(--tertiary-color-font);
      margin: 0.6rem 0 0;
    }
  }

  .bio {
    margin: 0 0 2.3rem;
    color: var(--secondary-color-font);

    &--empty {
      opacity: 0.5;
    }
  }

  .stats {
    display: flex;
    justify-content: space-around;
    margin: 0 0 2.4rem;
    padding: 1.8rem 1.4rem 1.9rem 1.5rem;
    background-color: var(--background-color);
    border-radius: 10px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.8rem;

      h4,
      p {
        margin: 0;
      }

      h4 {
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--secondary-color-font);
      }

      p {
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--primary-color-font);
      }
    }
  }

  .resources {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      display: flex;
      align-items: center;

      app-icon {
        margin-right: 1.6rem;
      }

      p,
      a {
        color: var(--secondary-color-font);
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      &--empty {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 4rem;

    .header {
      gap: 4.1rem;
      margin-bottom: 2.4rem;

      &__image {
        width: 11.7rem;
        height: 11.7rem;
      }

      &__name {
        font-size: 2.6rem;
        margin-bottom: 0.2rem;
      }

      &__username {
        font-size: 1.6rem;
      }

      &__created-at {
        font-size: 1.5rem;
        margin-top: 0.4rem;
      }
    }

    .bio {
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 3.2rem;
    }

    .stats {
      padding: 1.5rem 3.2rem 1.7rem;
      margin-bottom: 3rem;
      justify-content: space-between;

      &__item {
        align-items: flex-start;
        gap: 0.1rem;

        h4 {
          font-size: 1.3rem;
        }

        p {
          font-size: 2.2rem;
        }
      }
    }

    .resources {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 6.5rem;
      row-gap: 1.9rem;

      &__item {
        margin-bottom: 0 !important;

        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 3;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 4;
        }
      }

      p,
      a {
        font-size: 1.5rem;
      }
    }
  }
}
